* {

}

body.
html {
background-color: white;
display: block;
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
}

.lead {
    font: size 30px;
}
.contact {
    color: blue;
    margin: 20px;
    max-width: width 100px;
}

/*portfolio file*/

.portfolio {
    color: blue;
    margin: 20px;
}

#carouselExampleFade {
margin: 5%;
}

.d-block {
    max width: 50%;
    height: auto;
}

img {
padding: 3px;
}
.card{
left:10px;
}